@model Games.BL.Game

@{
    ViewData["Title"] = "Details";
}

<h1>Детали</h1>

<div>
    <h4>Игра</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название игры
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Разработчик
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Developer.Name)
        </dd>
        <dt class="col-sm-2">
            Жанр
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Genres)
            {
                <li> @item.Name</li>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="Index">Обратно к списку игр</a>
</div>
